html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
li{
    list-style-type: none;
    font-weight: 500;
    margin-top: 5%;

}
.main{
  height:100%;
  width:100%;
  margin:0%;
  padding:0%;
}
.listings{
  color:white;
  margin-top: 5%;
  margin-bottom: 5%;
  height:85%;
}

#map {
        height: 100%;
      }
#search-panel {
        height:100%;
        background-color: black;
        padding: 5px;
        text-align: left;
        padding-left: 10px;
        padding-top: 10px;
        float:left;/*Added to have map displayed on same row and not below*/
      }

#submit{
  width: 25%;
  margin-top: 5%;

}
#address{
  width:100%;
  margin-top: 5%;
}

header{
background-color: black;
height: 5%;
}

.header-text{
  color:white;
  text-align: center;
}


/*Media query for responsive layout considering mobile devices
Seach panel is hidden
@media screen and (max-width: 770px){
    #search-panel{
 display:none;
}
*/
}